/* Navbar elements */
.nav-item {
    display: inline-block;
    vertical-align: top;
}

/* Logo styling */
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

/* Navigation styling */
nav {
    width: 73%;
    padding: 1%;
}

/* UL styling */
ul {
    width: 50%;
    margin-left: auto;
}
/* Hero Image section */
.heroImg {
    height: 600px;
    padding: 25px;
}

/* Content within the hero section */
.content {
    width: 500px;
    margin: 0 auto;
}
/* Footer styling */
footer {
    background-color: #373738;
    padding: 20px;
}

/* UL within footer */
footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

/* List item within footer */
footer li {
    padding: 5px;
}

